<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pacific War</title>
  </head>
  <body>
    <!-- <noscript>This page contains webassembly and javascript content, please enable javascript in your browser.</noscript> -->
    <!-- <script src="./bootstrap.js"></script> -->

    <h1>Pacific War</h1>
    <h2>{{battle_name}} Battle</h2>
    <div>
      <span>Operation player: {{operation_player}}</span>
      <span>Start date: {{start_date}}</span>
      <span>Duration: {{duration}}</span>
      <span>Current date: {{current_date}}</span>
    </div>
    {{> phase }}
  </body>
</html>
