{{#*inline "page"}}
<div>
  <h2>{{phase_name}}</h2>
  <form>
  <div>
    <label for="current_movement">Current Movement</label>
    <input type="text" readonly value="{{phase.current}}" />
  </div>

  <div>
    <label for="naval_movement_count">Naval movements</label>
    <input type="text" readonly value="{{phase.naval_movement_count}}" />
  </div>
  </form>
  <form method="POST" action="/battle/{{battle_id}}" >
  {{#each phase.remaining}}
  <button type="submit" value="{{this}}" formaction="/battle/{{../battle_id}}/contact/{{this}}">{{this}}</button>
  {{/each}}
  </form>
  <form action="/battle/{{battle_id}}/next">
    <button class="next" type="submit">Next</button>
  </form>
</div>
{{/inline}}
{{> (lookup this "parent")}}
