{{#*inline "page"}}
<div>
  <h2>{{phase_name}}</h2>
  <span>Current Movement: {{phase.current}}</span>
  <span>Naval movements: {{phase.naval_movement_count}}</span>
  <form method="POST" action="/battle/{{battle_id}}" >
  {{#each phase.remaining}}
  <input type="submit" value="{{this}}" formaction="/battle/{{../battle_id}}/{{this}}" />
  {{/each}}
  </form>
  <form action="/battle/{{battle_id}}/next">
    <input type="submit" value="Next" />
  </form>
  </div>
{{/inline}}
{{> (lookup this "parent")}}
