{{#*inline "page"}}
<div>
  <h2>{{phase_name}}</h2>
  <span>Current Movement: {{phase.current}}</span>
  <span>Naval movements: {{phase.naval_movement_count}}</span>
  <form method="POST" action="/battle/{{battle_id}}" >
  {{#each phase.remaining}}
  <button type="submit" value="{{this}}"  formaction="/battle/{{../battle_id}}/{{this}}">{{this}}</button>
  {{/each}}
  </form>
  <form action="/battle/{{battle_id}}/next">
    <button type="submit">Next</button>
  </form>
  </div>
{{/inline}}
{{> (lookup this "parent")}}
