{{#*inline "page"}}
<div>
  <h2>Battle Cycle</h2>
  <div>
    <form>
      <div>
        <label for="count">Cycle count</label>
        <input type="number" readonly name="count" value="{{cycle.count}}"/>
      </div>
      <div>
        <label for="segment">Segment</label>
        <input type="text" readonly name="segment" value="{{cycle.phase}}"/>
      </div>
      <div>
        <label for="lighting_condition">Lighting condition</label>
        <input type="text" readonly name="lighting_condition" value="{{cycle.lighting_condition}}"/>
      </div>
    </form>
  </div>

  <form method="POST" action="/battle/{{battle_id}}/set_lighting">
    {{#if choose}}
    <div>
      {{#if reaction_choose}}
      <label for="lighting">Reaction player choose lighting</label>
      {{else}}
      <label for="lighting">Operation player choose lighting</label>
      {{/if}}
      <select name="lighting">
        <option value="DayAM">Day AM</option>
        <option value="DayPM">Day PM</option>
        <option value="Dusk">Dusk</option>
        <option value="Night">Night</option>
      </select>
    </div>
    <button type="submit" name="set_lighting" value="choose">Set</button>
    {{else}}
      {{#if operation_advance}}
      <button type="submit" name="set_lighting" value="operation_advance">Advance lighting 2 steps</button>
      {{/if}}
    {{/if}}
    <button class="next" type="submit" name="set_lighting" value="advance">Advance lighting</button>
   </form>
</div>
{{/inline}}
{{> (lookup this "parent")}}
