{{#*inline "page"}}
<div>
  {{> battle_cycle/common }}

  <form method="POST" action="/battle/{{battle_id}}/next">
    <div>
      <fieldset>
        <legend>{{naval_combat.phase}} - Combat #{{naval_combat.index}}</legend>
        <div>
          <div>
            <label for="surprise">Surprise</label>
            <input type="text"  readonly name="surprise" value="{{naval_combat.surprise}}" />
          </div>

          <div>
            <label for="hex_type">Hex type</label>
            <input type="text"  readonly name="hex_type" value="{{naval_combat.hex_type}}" />
          </div>

          {{#if naval_combat.distance}}
          <div>
            <label for="distance">Distance</label>
            <input type="text" readonly name="distance" value="{{naval_combat.distance}}" />
          </div>
          {{else}}
          <div>
            <label for="advantage_bid">Advantage distance bid</label>
            <select id="advantage_bid" name="advantage_bid">
              <option value="Short">Short</option>
              <option value="Medium">Medium</option>
              <option value="Long">Long</option>
              <option value="Withdraw">Withdraw</option>
            </select>
          </div>

          <div>
            <label for="disadvantage_bid">Disadvantage distance bid</label>
            <select id="disadvantage_bid" name="disadvantage_bid">
              <option value="Short">Short</option>
              <option value="Medium">Medium</option>
              <option value="Long">Long</option>
              <option value="Withdraw">Withdraw</option>
            </select>
          </div>
          <button type="submit" formaction="/battle/{{battle_id}}/bid_distance">Bid distance</button>
          {{/if}}
        </div>
        <button class="next" type="submit" formaction="/battle/{{battle_id}}/next_round">Next round</button>
      </fieldset>
    </div>
  </form>
  <form action="/battle/{{battle_id}}/next">
    <button class="next" type="submit" >Skip</button>
  </form>
</div>
{{/inline}}
{{> (lookup this "parent")}}
